/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

/* Tab Styles */
.tab-container {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 20px auto;
    padding: 10px 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.tab {
    flex-grow: 1;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #f0f0f0;
    color: #333;
    border-radius: 5px 5px 0 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.tab.active {
    background-color: #007bff;
    color: white;
}

/* Chat Styles */
.chat-container {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
    background-color: #fff;
}

.chat-message {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
}

.chat-message.me {
    text-align: right;
    background-color: #007bff;
    color: white;
}

.chat-message.other {
    text-align: left;
    background-color: #f0f0f0;
}

.chat-input {
    display: flex;
    margin-top: 10px;
}

.chat-input input[type="text"] {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.chat-input button {
    padding: 8px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

/* Styling for Search Bar */
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar select,
.search-bar button {
    margin: 0 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-bar button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.search-bar select:focus,
.search-bar button:focus {
    outline: none;
    border-color: #007bff;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .tab-container {
        width: 90%;
    }
}
