<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask HTML App</title>
</head>
<body>
    <h1>PathwayPro</h1>
    <p> Our proposed system is a user-friendly application named “PathwayPro” that will help students plan their courses, 
        track their progress, and access important academic information. This idea centers around creating a resource app 
        designed to empower and support higher education students throughout their academic journey. </p>
</body>
</html>
